# Guided Capstone Step 4. Pre-Processing and Training Data Development

**The Data Science Method**  


1.   Problem Identification 


2.   Data Wrangling 
  
 
3.   Exploratory Data Analysis   

4.   **Pre-processing and Training Data Development**  
 * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   Modeling 
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

**<font color='teal'> Start by loading the necessary packages as we did in step 3 and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

**<font color='teal'>  Load the csv file you created in step 3, remember it should be saved inside your data subfolder and print the first five rows.</font>**

In [2]:
os.getcwd()

'C:\\Users\\faggot\\Downloads\\1588204754_Step_2\\Step 2'

In [3]:
df = pd.read_csv('step3_output.csv')

df.head()

,Unnamed: 0,Unnamed: 0.1,Name,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
0,0,0,Alyeska Resort,Alaska,3939,2500,250,1,0.0,0,...,1.0,1610.0,113.0,150.0,60.0,669.0,65.0,85.0,150.0,550.0
1,1,1,Eaglecrest Ski Area,Alaska,2600,1540,1200,0,0.0,0,...,2.0,640.0,60.0,45.0,44.0,350.0,47.0,53.0,90.0,NaN
2,2,2,Hilltop Ski Area,Alaska,2090,294,1796,0,0.0,0,...,1.0,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0
3,3,3,Arizona Snowbowl,Arizona,11500,2300,9200,0,0.0,1,...,2.0,777.0,104.0,122.0,81.0,260.0,89.0,89.0,122.0,NaN
4,4,4,Sunrise Park Resort,Arizona,11100,1800,9200,0,NaN,0,...,1.2,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0

In [4]:
df = df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

df.head()

,Name,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
0,Alyeska Resort,Alaska,3939,2500,250,1,0.0,0,2,2,...,1.0,1610.0,113.0,150.0,60.0,669.0,65.0,85.0,150.0,550.0
1,Eaglecrest Ski Area,Alaska,2600,1540,1200,0,0.0,0,0,0,...,2.0,640.0,60.0,45.0,44.0,350.0,47.0,53.0,90.0,NaN
2,Hilltop Ski Area,Alaska,2090,294,1796,0,0.0,0,0,0,...,1.0,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0
3,Arizona Snowbowl,Arizona,11500,2300,9200,0,0.0,1,0,2,...,2.0,777.0,104.0,122.0,81.0,260.0,89.0,89.0,122.0,NaN
4,Sunrise Park Resort,Arizona,11100,1800,9200,0,NaN,0,1,2,...,1.2,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0

In [5]:
df = df.fillna(0)

df.head()

,Name,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
0,Alyeska Resort,Alaska,3939,2500,250,1,0.0,0,2,2,...,1.0,1610.0,113.0,150.0,60.0,669.0,65.0,85.0,150.0,550.0
1,Eaglecrest Ski Area,Alaska,2600,1540,1200,0,0.0,0,0,0,...,2.0,640.0,60.0,45.0,44.0,350.0,47.0,53.0,90.0,0.0
2,Hilltop Ski Area,Alaska,2090,294,1796,0,0.0,0,0,0,...,1.0,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0
3,Arizona Snowbowl,Arizona,11500,2300,9200,0,0.0,1,0,2,...,2.0,777.0,104.0,122.0,81.0,260.0,89.0,89.0,122.0,0.0
4,Sunrise Park Resort,Arizona,11100,1800,9200,0,0.0,0,1,2,...,1.2,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `state`. Add the dummies back to the dataframe and remove the original column for `state`. </font>**

Hint: you can see an example of how to execute this in Aiden's article on preprocessing [here](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-pre-processing-and-training-data-development-fd2d75182967).

In [6]:
dfo=df['state'] 

df = pd.concat([df, pd.get_dummies(dfo)], axis=1)

In [7]:
df.head()

,Name,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,...,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Alyeska Resort,Alaska,3939,2500,250,1,0.0,0,2,2,...,0,0,0,0,0,0,0,0,0,0
1,Eaglecrest Ski Area,Alaska,2600,1540,1200,0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Hilltop Ski Area,Alaska,2090,294,1796,0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Arizona Snowbowl,Arizona,11500,2300,9200,0,0.0,1,0,2,...,0,0,0,0,0,0,0,0,0,0
4,Sunrise Park Resort,Arizona,11100,1800,9200,0,0.0,0,1,2,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df = df.drop(columns=['state'])

df.head()

,Name,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,triple,...,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Alyeska Resort,3939,2500,250,1,0.0,0,2,2,0,...,0,0,0,0,0,0,0,0,0,0
1,Eaglecrest Ski Area,2600,1540,1200,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Hilltop Ski Area,2090,294,1796,0,0.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Arizona Snowbowl,11500,2300,9200,0,0.0,1,0,2,2,...,0,0,0,0,0,0,0,0,0,0
4,Sunrise Park Resort,11100,1800,9200,0,0.0,0,1,2,3,...,0,0,0,0,0,0,0,0,0,0

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing standardize the scale of the features of the dataframe except the name of the resort which we done't need in the dataframe for modeling, so it can be droppped here as well. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as our response for scaling and modeling. Later we will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave them in the development dataframe. </font>**

In [9]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df.AdultWeekend

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selection import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. We will start by using the adult weekend ticket price as our response variable for modeling.</font>**

In [10]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

Here we start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5. Modeling

This is the fifth step in the Data Science Method. In the previous steps you cleaned and prepared the datasets. Now it's time to get into the most exciting part: modeling! In this exercise, you'll build three different models and compare each model's performance. In the end, you'll choose the best model for demonstrating insights to Big Mountain management.



### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with a Training Dataset

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [11]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

Hint: you will have to use the `predict()` method here as it's used in this [DSM article](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-modeling-56b4233cad1b) about modeling.

In [12]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test

y_pred = model.predict(X_test)

## Review Model Outcomes — Iterate over additional models as needed

In [13]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model

In [14]:
explained_variance_score(y_test, y_pred)

0.4709180005657452

In [15]:
mean_absolute_error(y_test, y_pred)

18.70894593080063

**<font color='teal'> Print the intercept value from the linear model. </font>**

Hint: our linear regression model `lm` has an attribute `intercept_` for the intercept

In [16]:
lm.intercept_

53.71886252214069

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the resulting `AdultWeekend` value. Also, because we took the time to scale our x values in the training data, we can compare each of the coeeficients for the features to determine the feature importances. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 


Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what we are looking for is the magnitude of impact on our response variable.

In [23]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
df_model1 = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])

df_model1

                    Coefficient
summit_elev        2.183776e+01
vertical_drop      4.981563e+00
base_elev          1.790103e+01
trams              9.813740e+12
fastEight          9.647868e+11
fastSixes          1.142158e+13
fastQuads          3.852778e+13
quad               2.299869e+13
triple             2.837723e+13
double             3.181058e+13
surface            3.609764e+13
total_chairs       1.016290e+14
Runs               3.895508e+00
TerrainParks       3.977661e+00
LongestRun_mi      1.783203e+00
SkiableTerrain_ac  1.472656e+00
Snow Making_ac     5.563843e+00
daysOpenLastYear   5.664062e-02
yearsOpen          8.945312e-01
averageSnowfall    1.594727e+00
AdultWeekday       2.786597e+01
projectedDaysOpen  2.677734e+00
NightSkiing_ac     7.675781e-01
Alaska             3.583023e+10
Arizona            2.929996e+10
California         9.215183e+10
Colorado           9.416766e+10
Connecticut        4.611495e+10
Idaho              7.066743e+10
Illinois           4.130988e+10
Indiana            2.929996e+10
Iowa               3.583023e+10
Maine              6.148779e+10
Maryland           2.074976e+10
Massachusetts      6.776521e+10
Michigan           1.068802e+11
Minnesota          7.608914e+10
Missouri           2.929996e+10
Montana            7.066743e+10
Nevada             4.130988e+10
New Hampshire      8.108489e+10
New Jersey         2.929996e+10
New Mexico         6.148779e+10
New York           1.132531e+11
North Carolina     5.043862e+10
Ohio               4.611495e+10
Oregon             6.471278e+10
Pennsylvania       8.793709e+10
Rhode Island       2.074976e+10
South Dakota       2.929996e+10
Tennessee          2.074976e+10
Utah               7.343725e+10
Vermont            7.863502e+10
Virginia           4.130988e+10
Washington         6.471278e+10
West Virginia      4.130988e+10
Wisconsin          8.108489e+10
Wyoming            5.806147e+10

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that we care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

Hint: Try to construct another model using exactly the steps we followed above.

#### Model 2

In [24]:
df_model2 = df_model1.iloc[:23]

In [25]:
df_coef_nostates

                    Coefficient
summit_elev        2.183776e+01
vertical_drop      4.981563e+00
base_elev          1.790103e+01
trams              9.813740e+12
fastEight          9.647868e+11
fastSixes          1.142158e+13
fastQuads          3.852778e+13
quad               2.299869e+13
triple             2.837723e+13
double             3.181058e+13
surface            3.609764e+13
total_chairs       1.016290e+14
Runs               3.895508e+00
TerrainParks       3.977661e+00
LongestRun_mi      1.783203e+00
SkiableTerrain_ac  1.472656e+00
Snow Making_ac     5.563843e+00
daysOpenLastYear   5.664062e-02
yearsOpen          8.945312e-01
averageSnowfall    1.594727e+00
AdultWeekday       2.786597e+01
projectedDaysOpen  2.677734e+00
NightSkiing_ac     7.675781e-01

**<font color='teal'> When reviewing our new model coefficients, we see `summit_elev` is now in the number two spot. This is also difficult to change from a management prespective and highly correlated with `base_elev` and `vertical_drop`.  This time, rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

In [26]:
df_model3 = df_model2.drop(index=['summit_elev', 'base_elev'])

In [27]:
df_model3

                    Coefficient
vertical_drop      4.981563e+00
trams              9.813740e+12
fastEight          9.647868e+11
fastSixes          1.142158e+13
fastQuads          3.852778e+13
quad               2.299869e+13
triple             2.837723e+13
double             3.181058e+13
surface            3.609764e+13
total_chairs       1.016290e+14
Runs               3.895508e+00
TerrainParks       3.977661e+00
LongestRun_mi      1.783203e+00
SkiableTerrain_ac  1.472656e+00
Snow Making_ac     5.563843e+00
daysOpenLastYear   5.664062e-02
yearsOpen          8.945312e-01
averageSnowfall    1.594727e+00
AdultWeekday       2.786597e+01
projectedDaysOpen  2.677734e+00
NightSkiing_ac     7.675781e-01

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell — you will discuss this selection more in the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0. |  |-|
| Model 2. | 0.| |'state'|
| Model 3. | 0. | |'state','summit_elev','base_elev'|

Model Selection:

In [30]:
df_model3

                    Coefficient
vertical_drop      4.981563e+00
trams              9.813740e+12
fastEight          9.647868e+11
fastSixes          1.142158e+13
fastQuads          3.852778e+13
quad               2.299869e+13
triple             2.837723e+13
double             3.181058e+13
surface            3.609764e+13
total_chairs       1.016290e+14
Runs               3.895508e+00
TerrainParks       3.977661e+00
LongestRun_mi      1.783203e+00
SkiableTerrain_ac  1.472656e+00
Snow Making_ac     5.563843e+00
daysOpenLastYear   5.664062e-02
yearsOpen          8.945312e-01
averageSnowfall    1.594727e+00
AdultWeekday       2.786597e+01
projectedDaysOpen  2.677734e+00
NightSkiing_ac     7.675781e-01